@model prjIHealth.Models.TNews

@{
    ViewData["Title"] = "iHeath後臺";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml";
}

<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>編輯文章</h2>
                </div>
            </div>
        </div>
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@Model.FNewsId" name="NewsId" />
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <label asp-for="FTitle" class="control-label">文章標題</label>
                    <input asp-for="FTitle" class="form-control" placeholder="請輸入標題" />
                    <span asp-validation-for="FTitle" class="text-danger"></span>
                </div>
                <div class="col-lg-6 col-md-6">
                    <label asp-for="FNewsCategoryId" class="control-label">專欄類別</label><br />
                    <select asp-for="FNewsCategoryId" class="form-select" style="height:55px">
                        <option selected="">請選取此處</option>
                        <option value="1">運動健身</option>
                        <option value="2">食物營養</option>
                        <option value="3">新冠疫情</option>
                        <option value="4">教練專欄</option>
                    </select>
                    <span asp-validation-for="FNewsCategoryId" class="text-danger"></span>
                </div>
                <div class="col-lg-6 col-md-6">
                    <label asp-for="FMemberId" class="control-label">會員號碼</label>
                    <input asp-for="FMemberId" class="form-control" readonly />
                    <span asp-validation-for="FMemberId" class="text-danger"></span>
                </div>
                <div class="col-lg-6 col-md-6">
                    <label asp-for="FNewsDate" class="control-label">建立時間</label>
                    <input asp-for="FNewsDate" class="form-control" value="@DateTime.Now.ToString("yyyy'/'MM'/'dd' - 'HH':'mm")" readonly />
                    <span asp-validation-for="FNewsDate" class="text-danger"></span>
                </div>
                <div class="col-lg-6 col-md-6">
                    <label class="control-label">專欄縮圖</label>
                    <input type="file" name="photo" class="form-control" />
                </div>
                <div class="col-lg-6 col-md-6">
                    <label asp-for="FThumbnailPath" class="control-label"></label>
                    <input asp-for="FThumbnailPath" class="form-control" />
                    <span asp-validation-for="FThumbnailPath" class="text-danger"></span>
                </div>
                <div class="col-lg-6 col-md-6">
                    <label asp-for="FVideoUrl" class="control-label">影片連結</label>
                    <input asp-for="FVideoUrl" class="form-control" placeholder="請輸入影片網址" />
                    <span asp-validation-for="FVideoUrl" class="text-danger"></span>
                </div>
                <div class="col-lg-12 text-center">
                    <label asp-for="FContent" class="control-label">文章內容</label>
                    <textarea id="editor" asp-for="FContent" class="form-control" placeholder="請輸入內容" style="height:300px"></textarea>
                    <span asp-validation-for="FContent" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group" style="margin-right:90% ; margin-top:40px">
                <p>
                    <input type="submit" value="儲存變更" class="site-btn" />
                </p>
                <p>
                    <a asp-action="List" class="site-btn" style="width:150px">返回列表</a>
                </p>
            </div>
        </form>
    </div>
</div>

@*<div class="col-lg-6 col-md-6">
        <input type="submit" class="site-btn" value="儲存變更">
    </div>
    <div class="col-lg-6 col-md-6">
        <a asp-action="List" class="site-btn">返回列表</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                console.log(editor);
            })
    </script>
}


