

@section Styles{

}

@*banner大圖*@
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    @*h2內容請自行更換*@
                    <h2 class="reveal_t1">會員專區Demo</h2>
                    <div class="breadcrumb__option reveal_t1">
                        <a href="./index.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>會員專區</h4>
                        <ul>
                            <li><a href="#">個人資料</a></li>
                            <li><a href="#">訂單查詢</a></li>
                            <li><a href="#">飲食日誌</a></li>
                            <li><a href="#">客服記錄</a></li>
                        </ul>
                        <br />
                        <br />
                        <br />
                        <h4>預約平台</h4>
                        <ul>
                            <li><a href="#">履歷管理</a></li>
                            <li><a href="#">教練連繫記錄</a></li>
                            <li><a href="#">課程列表</a></li>
                            <li><a href="#">課程行事曆</a></li>
                            <li><a href="#">候選教練</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7" style="height:400px" >
                @*※※※會員專區View內容請從此開始※※※*@
            </div>
        </div>
    </div>
</section>

@section Scripts{

}